<!DOCTYPE html>

{% load staticfiles %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recipe</title>
    <script>
        function addQuantity(parent) {
            "use strict";
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                if (xhttp.readyState === 4 && xhttp.status === 200) {
                    var quantity = parent.querySelectorAll('[name=quantity]')[0];
                    $(quantity).append(xhttp.responseText);
                    var lastChild = quantity.children[quantity.children.length - 1];
                    var ingredient = lastChild.querySelectorAll('[name=ingredient]')[0];
                    $(ingredient).chosen()
                }
            };
            xhttp.open("GET", "{% url 'recipes_site:add-quantity' %}", true);
            xhttp.send();
        }
        function addMoment() {
            "use strict";
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                if (xhttp.readyState === 4 && xhttp.status === 200) {
                    $("#moment").append(xhttp.responseText);
                    $("#moment select:last").chosen()
                }
            };
            xhttp.open("GET", "{% url 'recipes_site:add-moment' %}", true);
            xhttp.send();
        }

    </script>
    <script src="{% static 'recipes_site/script.js' %}"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>

    <script src="{% static 'recipes_site/chosen.jquery.js' %}"></script>
    <link rel="stylesheet" href="{% static 'recipes_site/chosen.css' %}" />
    <link rel="stylesheet" href="{% static 'recipes_site/style.css' %}" />
    <script>
    $( document ).ready(function() {
        $("#moment select:last").last().chosen();
    });
    </script>
</head>
<body>
<form id="recipe">
    {{ form }}

    <div id="moment">
        <fieldset>
            <legend>Moment</legend>
            {{ moment }}
            <div name="quantity"></div>
            <image onclick="addQuantity(this.parentNode)" style="height:30px;cursor:pointer;" src="{% static 'recipes_site/minus-clipart-green-plus-md.png' %}" />
        </fieldset>
    </div>
    <image onclick="addMoment()" style="height:30px;cursor:pointer;" src="{% static 'recipes_site/minus-clipart-green-plus-md.png' %}" />
    <input type="button" value="Submit" onclick="addRecipe('/rest/recipes/')" />
</form>
</body>
</html>