<!DOCTYPE html>

{% load staticfiles %}
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'recipes_site/style.css' %}" />
    <script src="https://code.jquery.com/jquery-3.2.1.min.js">
    </script>
    <script src="{% static 'recipes_site/script.js' %}">
    </script>
    <title>Recipe</title>

    <style type="text/css">
        div.inline { float:left; }
        .clearBoth { clear:both; }
    </style>
</head>
<body>
<div class="inline" style="width:30%;max-width:200px">
    {% if recipes %}
    <ul>
        {% for recipe in recipes %}
            <li><a class="menu" onclick="loadRecipe('/recipes/{{ recipe.id }}/', this)">{{ recipe.name }}</a></li>
        {% endfor %}
    </ul>
    {% endif %}
</div>
<div class="inline" style="width:70%;" id="recipe"></div>
</body>
</html>