nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
nav li {
    display: inline;
    border: solid;
    border-width: 1px 1px 0 1px;
    margin: 0 5px 0 0;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
}
nav li a {
    padding: 0 10px;
}
#content {
    border: 1px solid;
}
#selected {
    padding-bottom: 1px;
    background-color: #99e699;
}
.bold {
    font-weight: bold;
}
.menu {
    cursor: pointer;
}
body {
    background-color: #99e699;
}
input {
    background-color: #adebad;
}
textarea {
    background-color: #adebad;
}
select {
    background-color: #adebad;
}